spring:
  datasource:
    url: ${PASSKEY_${PASSKEY_DB_TYPE:postgres}_URL}/passkey_admin
    username: ${PASSKEY_DB_USER}
    password: ${PASSKEY_DB_PW}
  sql:
    init:
      mode: never # always, embedded, never
      schema-locations: classpath:postgresql/schema.sql
  jpa:
    hibernate:
      ddl-auto: validate # jpa ddl-auto 설정 update / validate / none
admin.default-user: true # the default value is true
server:
  port: 8001
passkey:
  webauthn-server:
    base-url: http://host.docker.internal:8080 # passkey-server
  metadata-manager:
    base-url: http://host.docker.internal:8088 # passkey-metadata-manager
