server:
  port: 8088
spring:
  jpa:
    hibernate:
      ddl-auto: validate # jpa ddl-auto 설정 update / validate / none
  datasource:
    url: ${PASSKEY_${PASSKEY_DB_TYPE:postgres}_URL}/passkey
    username: ${PASSKEY_DB_USER}
    password: ${PASSKEY_DB_PW}