server:
  port: 8080 # service port
spring:
  jpa:
    hibernate:
      ddl-auto: validate # jpa ddl-auto 설정 update / validate / none
  datasource: # db 설정
    url: ${PASSKEY_${PASSKEY_DB_TYPE:postgres}_URL}/passkey
    username: ${PASSKEY_DB_USER}
    password: ${PASSKEY_DB_PW}
  redis: # redis 설정
    host: host.docker.internal
    port: 6379
    ssl:
      enabled: false

license:
  key: ${LICENSE_KEY}
